html, body{
    height: 100%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: #181818;
    background-size: cover;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h3{
    font-weight: 400;
}

.weather-app{
    min-height: 100vh;
    min-width: 100vw;
    background-image: url(./images/day/clear.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    transition: 700ms;
    opacity: 1;
}

.weather-app::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 0;
}

.weather-card{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.container > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-time,
.temp,
.weather{
    margin: 0 1rem;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.temp{
    font-size: 7em;
    margin: 0;
}

.weather img{
    display: block;
}

.panel{
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.2);
    z-index: 1;
    padding: 3em 2em;
/*    overflow-y: scroll;*/
}

.panel form{
    margin-bottom: 3em;
}

.submit{
    position: absolute;
    top: 10px;
    right: 30px;
    padding: 1.5em;
    margin: 0;
    border: none;
    border-radius: 50%;
    outline: none;
    background: rgb(255, 119, 0);
    color: white;
    cursor: pointer;
    font-size: 1.2em;
    transition: 0.5s;
}

.submit:hover{
    background: white;
    color: black;
}

.search{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    padding: 0 1em 0.5em 1em;
    width: 80%;
    color: white;
    font-size: 1.2em;
}

.search:focus{
    overflow: none;
}

.search::placeholder{
    color: white;
}

.panel ul{
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px solid white;
}

.panel ul li{
    color: white;
    margin: 2.5rem 0;
}

.panel ul h4{
    margin: 3em 0;
}

.city{
    display: block;
    cursor: pointer;
}

.city:hover{
    color: white;
}

.details li{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 990px){
    .panel, .container{
        position: relative;
        width: 100%;
        top: initial;
    }
}

/*@media screen and (max-width: 500px){
    html{
        font-size: 12px;
    }
}*/

@media (max-width: 768px) {
    body{
        min-width: 200vw;
        min-height: 200vh;
    }
}

@media (max-width: 768px) {
    .container {
    padding: 1px;
  }
  .panel {
      width: 100%;
      max-width: none;
    }
}

@media screen and (min-width: 600px){
    html{
        min-width: 100vw;
        min-height: 100vh;
    }
}







